USE [master]
GO
/****** Object:  Database [HorarioGrupos2023]    Script Date: 19/03/2025 04:21:20 p. m. ******/
CREATE DATABASE [HorarioGrupos2023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HorarioGrupos2023', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HorarioGrupos2023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HorarioGrupos2023_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HorarioGrupos2023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HorarioGrupos2023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HorarioGrupos2023]
GO
/****** Object:  User [MiUsuario]    Script Date: 19/03/2025 04:21:24 p. m. ******/
CREATE USER [MiUsuario] FOR LOGIN [MiUsuario] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DaniUser]    Script Date: 19/03/2025 04:21:24 p. m. ******/
CREATE USER [DaniUser] FOR LOGIN [DaniUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Divisiones]    Script Date: 19/03/2025 04:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisiones](
	[IDdivision] [int] IDENTITY(1,1) NOT NULL,
	[NombreDivision] [nvarchar](150) NULL,
	[DescripcionDiv] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDdivision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edificios]    Script Date: 19/03/2025 04:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edificios](
	[IDedificio] [int] IDENTITY(1,1) NOT NULL,
	[NombreEdificio] [nvarchar](20) NULL,
	[DescripcionEdif] [nvarchar](255) NULL,
	[DivisionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDedificio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 19/03/2025 04:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[IDespecialidad] [int] IDENTITY(1,1) NOT NULL,
	[NombresEspecialidad] [nvarchar](255) NULL,
	[DescripcionEsp] [nvarchar](255) NULL,
	[DivisionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDespecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Edificios]  WITH CHECK ADD FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Divisiones] ([IDdivision])
GO
ALTER TABLE [dbo].[Especialidades]  WITH CHECK ADD  CONSTRAINT [FK_Especialidades_Divisiones] FOREIGN KEY([DivisionID])
REFERENCES [dbo].[Divisiones] ([IDdivision])
GO
ALTER TABLE [dbo].[Especialidades] CHECK CONSTRAINT [FK_Especialidades_Divisiones]
GO
USE [master]
GO
